<!DOCTYPE html>
<html>
<head>
    <title>Setup</title>
</head>
<body>
    <h2>Marathon Intelligence Setup</h2>
    <form method="post">
        Name:<br>
        <input name="name"><br><br>

        Race Name:<br>
        <input name="race_name"><br><br>

        Race Date:<br>
        <input type="date" name="race_date"><br><br>

        Distance (km):<br>
        <input name="distance"><br><br>

        Goal Time (HH:MM:SS):<br>
        <input name="goal_time"><br><br>

        Elevation:
        <select name="elevation">
            <option value="flat">Flat</option>
            <option value="moderate">Moderate</option>
            <option value="hilly">Hilly</option>
        </select><br><br>

        <button type="submit">Start Analysis</button>
    </form>
</body>
</html>